@font-face {
    font-family: "Marianne";
    src: url("../font/Marianne-Regular.woff2") format("woff2"),
        url("../font/Marianne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Marianne";
    src: url("../font/Marianne-Bold.woff2") format("woff2"),
        url("../font/Marianne-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}