* {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    margin: 1em;

    height: fit-content;
    max-height: 50vmin;
    max-width: 50vmin;

    border-radius: 0.75em;

    object-fit: contain;
}