:root {
    --accent-color: #ff00bf;

    --shadow-color: #5c5c5cda;
    --shadow-offer-color: #5c5c5c8a;

    --light-color: #f9fcf9;
    --light-nav-color: #f9fcf9ad;
    --light-origines-color: #f9fcf97a;
    --light-scroll-color: #f9fcf9c4;

    --dark-color: #0b0b0b;
    --dark-nav-color: #0b0b0bad;
    --dark-origines-color: #0b0b0b7a;
    --dark-scroll-color: #0b0b0bc4;

    --main-1-color: var(--light-color);
    --main-2-color: var(--dark-color);
    --offer-color: transparent;
    --nav-color: var(--dark-nav-color);
    --origines-color: var(--dark-origines-color);
    --scroll-color: var(--dark-scroll-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-1-color: var(--dark-color);
        --main-2-color: var(--light-color);
        --offer-color: var(--light-origines-color);
        --nav-color: var(--light-nav-color);
        --origines-color: var(--light-origines-color);
        --scroll-color: var(--light-scroll-color);
    }
}

* {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Marianne', sans-serif;

    background-color: var(--main-1-color);
    color: var(--main-2-color);
}

a {
    text-decoration: underline;
    text-decoration-color: transparent;

    transition: ease-in-out 0.2s text-decoration-color;
}

a:hover,
a:focus {
    text-decoration-color: var(--accent-color);
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: var(--main-1-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 3.75px;

    background-color: var(--scroll-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #ff00bfc4;
}

/*
    Start animation
*/
@keyframes start-animation-disappear {
    to {
        opacity: 0;

        pointer-events: none;

        filter: blur(15vh);

        scale: 2;
    }
}

@keyframes start-animation {
    from {
        background-color: #fff;
    }
}

#start-animation {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1000;

    height: 100%;
    width: 100%;

    background-color: var(--main-1-color);

    animation: start-animation ease-out 1.75s 2.35s backwards, start-animation-disappear ease-in 0.6s 3.5s forwards;
}

@keyframes start-animation-items {
    0% {
        filter: drop-shadow(0 0 0 #fff);
    }

    50% {
        filter: drop-shadow(0 0 0 #fff);

        translate: 0 -10vmin;
    }
}

#start-animation :is(svg, span) {
    filter: drop-shadow(2px 2px 3px var(--shadow-color));

    animation: start-animation-items ease-out 1.75s backwards;
}

#start-animation svg {
    height: 50vmin;
    width: 50vmin;
}

#start-animation div {
    width: 50vmin;
}

#start-animation span {
    display: inline-block;

    color: #fff;
    font-size: 15vmin;
    font-weight: bold;

    animation-delay: 0.2s;
}

#start-animation span:nth-child(2) {
    animation-delay: 0.4s;
}

#start-animation span:nth-child(3) {
    animation-delay: 0.6s;
}

/*
    Nav
*/
nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 500;

    margin: 1em;

    width: calc(100% - 2em);

    box-sizing: border-box;

    border-radius: 0.75em;

    background-color: var(--nav-color);

    filter: drop-shadow(2px 2px 3px var(--shadow-color));
    backdrop-filter: blur(0.5em);
}

nav svg {
    flex-shrink: 0;

    height: 3.1em;
    width: 3.1em;
}

#menu {
    margin: 0 1em;
}

#menu a {
    display: inline-block;

    color: var(--main-1-color);
    font-size: 1.5em;

    margin: 0 0.5em;

    padding: 0.3em 0;

    vertical-align: top;
}

a#menu-button {
    display: none;
}

@media (max-width: 775px) {
    #menu:focus-within {
        display: flex;
        flex-direction: column;
    }

    #menu a {
        display: inline;
    }

    #menu:not(:focus-within) a:not(#menu-button) {
        display: none;
    }

    a#menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;

        margin: 0;

        height: 2.1em;
        width: 2.1em;

        padding: 0;
    }

    a#menu-button svg {
        height: 70%;
        width: 70%;

        fill: var(--main-1-color);
    }
}

/*
    Header
*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

header h1 {
    padding: 1rem;

    font-size: 6em;

    text-shadow: 0.05em 0.05em 0 var(--accent-color);
}

header h2 {
    padding: 1rem;

    width: 70vmin;

    text-align: center;
}

header>video {
    position: absolute;
    left: 0;

    height: calc(100% + 10em);
    width: 100%;

    opacity: 0.75;

    object-fit: cover;
}

header:after {
    display: block;

    position: absolute;
    bottom: -7.5em;

    height: 5em;
    width: 100%;

    content: "";

    background-color: #f9fcf9;

    transform: skewY(-2deg);
}

/*
    Main
*/
main {
    left: 50%;

    margin-top: 2em;

    width: 100vmin;

    font-size: 1em;

    translate: -50% 0;
}

main article {
    padding: 5em 1em;
    padding-bottom: 2em;

    box-sizing: border-box;
}

main section {
    margin: 0 auto;
    margin-top: 3em;

    padding: 1em;
}

main a {
    color: var(--main-2-color);

    text-decoration-color: var(--main-2-color);
}

main :is(h2, h3) {
    margin: 1em;

    font-size: 2em;

    text-align: center;
}

main h3 {
    font-size: 1.3em;
}

@media (min-aspect-ratio: 3/2) {
    main {
        width: calc(16% + 76vh);
    }
}

/*
    Offering
*/
#offering>div {
    top: 5%;
    left: 5%;

    width: 90%;
    aspect-ratio: 1/1;
}

#offering canvas {
    height: 100%;
    width: 100%;
}

#offer {
    position: absolute;
    top: 50%;
    left: -5%;

    translate: 0 -50%;

    height: 6.5vmin;
    width: 110%;

    background-color: var(--offer-color);

    color: var(--dark-color);

    border-radius: 1.5vmin;

    overflow: hidden;

    box-shadow: 1.5px 1.5px 3px 1px var(--shadow-offer-color);
    backdrop-filter: blur(0.5em);
}

@keyframes offer-disappear {
    to {
        top: -2em;

        opacity: 0;
    }
}

@keyframes offer-appear {
    0% {
        top: 2em;

        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}

#offer div {
    top: 0;
    left: 50%;

    font-size: 3.25vmin;
    line-height: 6.5vmin;
    text-align: center;

    opacity: 1;

    pointer-events: none;

    translate: -50% 0;

    animation: offer-appear 0.8s ease-in-out;
}

/*
    Origines
*/
#origines {
    color: var(--main-1-color);
}

#origines> :is(video, div) {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    border-radius: 0.75em;
}

#origines>video {
    object-fit: cover;
}

#origines>div {
    background-color: var(--origines-color);

    filter: drop-shadow(2px 2px 3px var(--shadow-color));
    backdrop-filter: blur(0.5em);
}

#origines u {
    text-decoration-color: var(--accent-color);
}

/*
    Team
*/
#team {
    width: 100%;

    padding: 1em 0;
}

#team ul {
    display: flex;
    flex-direction: column;

    list-style: none;
}

#team li {
    display: flex;
    align-items: center;

    margin: 1em 0;

    width: 100%;
}

#team li:nth-child(2n) {
    align-self: flex-end;
    flex-direction: row-reverse;
}

#team img {
    margin-right: 1em;

    height: 7em;
    width: 7em;

    border-radius: 50%;

    filter: drop-shadow(2px 2px 3px var(--shadow-color));
}

#team li:nth-child(2n) img {
    margin-left: 1em;
    margin-right: 0;
}

#team span {
    display: inline-block;
}

#team li:nth-child(2n) span {
    text-align: left;
}

#team address {
    font-size: 0.7em;

    word-break: break-all;
}

/*
    Socials
*/
#socials {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 1em 0;

    width: 100%;

    text-align: center;
}

#socials .social {
    display: inline-block;

    margin: 1em;

    text-align: center;
}

#socials .social svg {
    height: 2em;

    fill: var(--main-2-color);

    transition: ease-in-out 0.2s fill;
}

#socials .social:hover svg,
#socials .social:focus svg {
    fill: var(--accent-color);
}

/*
    footer
*/
footer {
    height: 6em;
    width: 100%;
}

/*
    Footer
*/
footer {
    height: 15vh;
}

footer a {
    display: block;

    height: 15vh;
}